<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <div id="MyServices" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Projects</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <img src="https://www.forsythbarnes.com/app/data/partners/crop_3ae7e0fd0644eae860851608ebb09d12.png"
                  id="webdesign" class=" img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4>Walgreens Boots Alliance</h4>
                  <p class="sepae.htmlrator">“A website created for the pharmacy chain Walgreens Boots Alliance that
                    allows customers to order products online from any of its outlets. Worked as a devops Engineer”
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href=""><img src="/Assets/images/hospital.png" width="800" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4>HospitalCare</h4>
                  <p class="separator">"A hospital website developed for online patient registration, checking doctors'
                    schedules, and accessing many other facilities offered by the hospital.Became a part of development
                    tem"</p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href=""><img
                    src="https://i.natgeofe.com/n/ef2f5724-cc94-4428-884c-b4a747cbb3cb/h_15722220_square.jpg"
                    id="webdesign" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4>Library Management System</a></h4>
                  <p class="separator">"Software application that helps automate the library operations such as
                    cataloging, circulation, searching for books and other materials, managing fines, and generating
                    reports.Worked as main Java developer and devops Engineer ."
                  </p>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          

   <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>