<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <div id="MyServices" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2 class="service-header">SERVICES</h2>
      </div>
    </div>

    <div class="container">
      <div class="services">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <img src="https://ik.imagekit.io/f4ckih1yox/web1_s-Sg5JbUQ?ik-sdk-version=javascript-1.4.3&updatedAt=1675932243897" id="webdesign" class=" img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="">WEB DESIGNING</a></h4>
                <p class="sepae.htmlrator">“A successful website does three things:
                  It attracts the right kinds of visitors.
                  Guides them to the main services or product you offer.
                  Collect Contact details for future ongoing relation.”
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <a href=""><img src="https://ik.imagekit.io/f4ckih1yox/app-dev.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1675929901091" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="">APP DEVOLOPMENT</a></h4>
                <p class="separator">The Scrum idea of a separated Scrum Master is good for Scrum, but not appropriate for most projects. Good development requires not just talkers but doers.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <a href=""><img src="https://ik.imagekit.io/f4ckih1yox/AI.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1675929901156" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="">AI DEVELOPMENT</a></h4>
                <p class="separator">"You can develop intelligent systems and applications that can perceive, reason, and act based on various inputs to achieve specific goals."
                </p>

              </div>

            </div>
          </div>
          <!-- End of service section -->
          <!-- technology section -->
          <div id="MyServices" class="text-left paddsection">

            <div class="container">
              <div class="section-title text-center">
                <h2 id="headerservice" class="col-lg-12">TECHNOLOGIES</h2>
              </div>
            </div>
        
            <div class="container">
              <div class="services">
                <div class="row">
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <img src="https://ik.imagekit.io/f4ckih1yox/java8_5yjXX8dn-?ik-sdk-version=javascript-1.4.3&updatedAt=1675930622551" id="webdesign" class=" img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="">JAVA</a></h4>
                        
        
                      </div>
        
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <a href=""><img src="https://ik.imagekit.io/f4ckih1yox/C_2_RUzMInvsM?ik-sdk-version=javascript-1.4.3&updatedAt=1675930694145" id="webdesign" class="img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="blog-single.html">C#</a></h4>
              
        
                      </div>
        
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <a href=""><img src="https://ik.imagekit.io/f4ckih1yox/nodejs_logo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1675930225588" id="webdesign" class="img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="">NODE.JS</a></h4>
                        
        
                      </div>
        
                    </div>
                  </div>
                  <!-- end of technology section -->         

   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




